*{
    border:0; 
    margin: 0;
    padding: 0;
}



header{
    background-color: rgb(168, 33, 33);
     border: solid black; 
   /*  //border: solid black; */
    /* padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%; */
    padding:2%;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
}

section{
    box-shadow: 1px 1px 3px steelblue;
    padding: 1%;
    width: 90%;
    font-size: 16px;
    font-family: arial;
    margin: 0 auto;

}
footer{
    background-color: rgb(168, 33, 33);
     border: solid black;
     
   /*  //border: solid black; */
    /* padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%; */
    padding: 3%;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
}

img{
    border: solid black;
    
    
}

.rodapé{
    text-shadow: 1px 1px 3px black;
    text-align: left;
}

h3{font-size: 30px;
    font-family: arial;
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align:left;
}

h4{font-family: arial;
    font-size: 20px;
    text-shadow: 1px 1px 3px purple;
    color: white;
    text-align: left;
}

p{text-align:left;
    font-size: 18px;
    font-family: arial;
}
#titulo{text-align: left;
background-color: lightgray;
text-shadow: 1px 1px 3px red;
color: white;

}